* {
  box-sizing: border-box;
}

body {
  background-color: #efefde;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background-image: url("./trees-growing-forest_1048944-30368869.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -30px;
  left: -30px;
  height: calc(100vh + 60px);
  width: calc(100vw + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: rgb(218, 226, 231);
}
